@page "/quem-somos-nos"

<RadzenRow Style="text-align: justify; margin-top: 2rem;" class="d-flex justify-content-between">
    <RadzenRow class="w-100 py-3">
        <h3>Quem Somos Nós?</h3>
        <RadzenCard Style="width: 100%; height: 25vh">
            <h5 class="card-title">Equipe de Desenvolvimento</h5>
            <p class="card-text">
                Somos alunos do curso de Desenvolvimento de Sistemas. Este é o nosso projeto de TCC. Agora, vou falar um pouco sobre nós, os desenvolvedores.
            </p>
        </RadzenCard>
    </RadzenRow>

    <RadzenColumn>
        <h3>Desenvolvedores</h3>
    </RadzenColumn>

    <br />

    <RadzenRow class="row">

        <RadzenColumn class="col-lg-4 col-md-6 col-sm-12">
            <RadzenCard Style="height: 33rem;">
                <h5 class="card-title">Alexandre Heleno</h5>
                <p class="card-text">Oi, eu sou Alexandre Heleno Oliveira de Souza. Tenho 20 anos e, desde pequeno, sempre fui fascinado pela tecnologia. Busco na vida uma oportunidade de trabalhar com ela.</p>
            </RadzenCard>
        </RadzenColumn>

        <RadzenColumn class="col-lg-4 col-md-6 col-sm-12">
            <RadzenCard Style="height: 33rem;">
                <h5 class="card-title">Gustavo Andrade</h5>
                <p class="card-text">Eu sou Gustavo Andrade, tenho 28 anos de idade e tenho um genuíno fascínio pelo universo tecnológico. Tendo isso em mente, optei por fazer a transição da minha trajetória profissional, deixando para trás a área de operações industriais para me dedicar integralmente ao desenvolvimento de sistemas.</p>
            </RadzenCard>
        </RadzenColumn>

        <RadzenColumn class="col-lg-4 col-md-6 col-sm-12">
            <RadzenCard Style="height: 33rem;">
                <h5 class="card-title">Luiz Gustavo</h5>
                <p class="card-text">Olá, sou Luiz Gustavo Gouvêa de Paula, atualmente tenho 18 anos e vou falar um pouco sobre mim. Sou extrovertido e comunicativo, gosto muito de aprender coisas novas, principalmente sobre a área da Informática. Também gosto de música, filmes e séries.</p>
            </RadzenCard>
        </RadzenColumn>

        <RadzenColumn class="col-lg-4 col-md-6 col-sm-12">
            <RadzenCard Style="height: 33rem;">
                <h5 class="card-title">Pedro Scabelo</h5>
                <p class="card-text">
                    Olá, eu sou Pedro e sou um dos desenvolvedores deste projeto. Tenho grande interesse em informática e adoro criar soluções tecnológicas que possam facilitar a vida das pessoas. Durante minha trajetória acadêmica, me dediquei a aprender e aprimorar minhas habilidades em desenvolvimento de software.
                </p>
            </RadzenCard>
        </RadzenColumn>

        <RadzenColumn class="col-lg-4 col-md-6 col-sm-12">
            <RadzenCard Style="height: 33rem;">
                <h5 class="card-title">Vitor Afonso</h5>
                <p class="card-text">Olá, sou Vitor Afonso dos Santos, tenho 18 anos e vou falar um pouco sobre mim. Sou extrovertido e esforçado. Gosto muito da área da Informática e, atualmente, estou fazendo um estágio nessa área. Também gosto de carros, jogos, filmes e séries.</p>
            </RadzenCard>
        </RadzenColumn>

        <RadzenColumn class="col-lg-4 col-md-6 col-sm-12">
            <RadzenCard Style="height: 33rem;">
                <h5 class="card-title">William Esquilino</h5>
                <p class="card-text">Eu sou o William, um dos desenvolvedores do projeto, tenho 17 anos e amo aprender e trabalhar com a tecnologia. Acredito que esse projeto foi imensamente útil para construir bases sólidas para mim. Agradeço aos professores que ajudaram e aos outros membros do projeto.</p>
            </RadzenCard>
        </RadzenColumn>

    </RadzenRow>
</RadzenRow>
